In [2]:
import json
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
from sklearn import preprocessing
import urllib

In [3]:
curWeek = 9

In [12]:
P5 = ['ACC','Pac-12','Big Ten','Big 12','SEC','Notre Dame']
G5 = ['Conference USA','Sun Belt','Mid-American','American Athletic','Mountain West','FBS Independents']

def seasonProgression(dfR):
    totalGames = len(dfR)
    print(totalGames)
    curWeek = int(dfR['week']) + 1
    print(curWeek)
    return curWeek/(2*totalGames)

def winningTeam(dfR):
    if dfR['home_points'] > dfR['away_points']:
        return dfR['home_team']
    else:
        return dfR['away_team']
    
def teamWin(dfR, team):
    if dfR.winner == team:
        return True
    else:
        return False
    
def findOpp(dfR):
    if dfR.home == True:
        return dfR.away_team
    else:
        return dfR.home_team
def findOppConf(dfR):
    if dfR.home == True:
        return dfR.away_conference
    else:
        return dfR.home_conference
    
def locMult(dfR):
    if dfR['neutral_site'] == True:
        return 1.05
    elif dfR['home'] == True:
        return 1.1
    else:
        return 1.
    
def pointDiff(dfR,team):
    if dfR.home_team == team:
        return dfR.home_points - dfR.away_points
    else:
        return dfR.away_points - dfR.home_points
    
def confMult(dfR):
    if dfR.opp_conference in P5:
        return 1.
    elif dfR.opp_conference in G5:
        return 0.5
    else:
        return 0.15
    
def winQ(dfR,week): 
    if dfR.opp_conference == None:
        oppWinPct = 0.5
    else:
#         print(dfR.opp_conference)
        oppWinPct = FBSdict[dfR.opp].loc[FBSdict[dfR.opp].week <= week, 'winPct'].tail(1).item()
    
    if dfR.teamWin == True:
        winMult = 1
        oppFactor = oppWinPct
    else:
        winMult = -1
        oppFactor = 1 - oppWinPct
    
    return oppFactor * dfR.seasonProg * dfR.conf_mult * winMult*(dfR.loc_mult + 0.01*dfR.point_diff)

def calcPct(team, week):
    winqweek = 'win_q_'+str(week)
    wins = FBSdict[team].loc[FBSdict[team].week <= week, 'wins'].tail(1).item()
    losses = FBSdict[team].loc[FBSdict[team].week <= week, 'losses'].tail(1).item()
#     print(winqweek,wins,losses,FBSdict[team].loc[FBSdict[team].week <= week, winqweek].mean())
    return 0.9 * FBSdict[team].loc[FBSdict[team].week <= week, winqweek].mean() + 0.01*(wins-losses)

In [4]:
json_url = urllib.request.urlopen('https://api.collegefootballdata.com/games?year=2020&seasonType=regular')
jsonFile = json.loads(json_url.read())
curSch = pd.DataFrame(jsonFile)

In [5]:
# json_url2 = urllib.request.urlopen('https://api.collegefootballdata.com/games?year=2020&seasonType=postseason')
# jsonFile2 = json.loads(json_url2.read())
# postSch = pd.DataFrame(jsonFile2)
# postSch['week'] = postSch['week'] + 15
# curSch = curSch.append(postSch)
# curSch = curSch.dropna(subset=['away_points'])

In [6]:
curSch.loc[curSch.away_team == 'Notre Dame','away_conference'] = 'Notre Dame'
curSch.loc[curSch.home_team == 'Notre Dame','home_conference'] = 'Notre Dame'

In [7]:
curSch.tail(10)

,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,venue_id,...,home_points,home_line_scores,home_post_win_prob,away_id,away_team,away_conference,away_points,away_line_scores,away_post_win_prob,excitement_index
599,401251733,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,3838,...,NaN,None,None,238,Vanderbilt,SEC,NaN,None,None,None
600,401250713,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,4727,...,NaN,None,None,197,Oklahoma State,Big 12,NaN,None,None,None
601,401249883,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,3739,...,NaN,None,None,2117,Central Michigan,Mid-American,NaN,None,None,None
602,401249884,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,3912,...,NaN,None,None,2459,Northern Illinois,Mid-American,NaN,None,None,None
603,401249885,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,3919,...,NaN,None,None,2711,Western Michigan,Mid-American,NaN,None,None,None
604,401249886,2020,15,regular,2020-12-12T05:00:00.000Z,True,False,True,None,3965,...,NaN,None,None,2006,Akron,Mid-American,NaN,None,None,None
605,401247348,2020,15,regular,2020-12-12T17:00:00.000Z,False,False,True,None,3861,...,NaN,None,None,130,Michigan,Big Ten,NaN,None,None,None
606,401249035,2020,15,regular,2020-12-12T23:00:00.000Z,False,False,True,None,3984,...,NaN,None,None,68,Boise State,Mountain West,NaN,None,None,None
607,401249039,2020,15,regular,2020-12-13T02:30:00.000Z,False,False,True,None,5388,...,NaN,None,None,328,Utah State,Mountain West,NaN,None,None,None
608,401249038,2020,15,regular,2020-12-13T04:00:00.000Z,False,False,True,None,3610,...,NaN,None,None,2439,UNLV,Mountain West,NaN,None,None,None

In [8]:
FBSteams = curSch['home_team'].unique()
FBSteams = np.append(FBSteams,'UMass')
FBSteams.sort()

In [9]:
FBSteams

array(['Air Force', 'Akron', 'Alabama', 'Appalachian State', 'Arizona',
       'Arizona State', 'Arkansas', 'Arkansas State', 'Army', 'Auburn',
       'BYU', 'Ball State', 'Baylor', 'Boise State', 'Boston College',
       'Bowling Green', 'Buffalo', 'California', 'Central Michigan',
       'Charlotte', 'Cincinnati', 'Clemson', 'Coastal Carolina',
       'Colorado', 'Colorado State', 'Duke', 'East Carolina',
       'Eastern Michigan', 'Florida', 'Florida Atlantic',
       'Florida International', 'Florida State', 'Fresno State',
       'Georgia', 'Georgia Southern', 'Georgia State', 'Georgia Tech',
       "Hawai'i", 'Houston', 'Illinois', 'Indiana', 'Iowa', 'Iowa State',
       'Kansas', 'Kansas State', 'Kent State', 'Kentucky', 'LSU',
       'Liberty', 'Louisiana', 'Louisiana Monroe', 'Louisiana Tech',
       'Louisville', 'Marshall', 'Maryland', 'Memphis', 'Miami',
       'Miami (OH)', 'Michigan', 'Michigan State', 'Middle Tennessee',
       'Minnesota', 'Mississippi State', 'Missouri', 'NC State', 'Navy',
       'Nebraska', 'Nevada', 'New Mexico', 'North Carolina',
       'North Texas', 'Northern Illinois', 'Northwestern', 'Notre Dame',
       'Ohio', 'Ohio State', 'Oklahoma', 'Oklahoma State', 'Ole Miss',
       'Oregon', 'Oregon State', 'Penn State', 'Pittsburgh', 'Purdue',
       'Rice', 'Rutgers', 'SMU', 'San Diego State', 'San José State',
       'South Alabama', 'South Carolina', 'South Florida',
       'Southern Mississippi', 'Stanford', 'Syracuse', 'TCU', 'Temple',
       'Tennessee', 'Texas', 'Texas A&M', 'Texas State', 'Texas Tech',
       'Toledo', 'Troy', 'Tulane', 'Tulsa', 'UAB', 'UCF', 'UCLA', 'UMass',
       'UNLV', 'USC', 'UT San Antonio', 'UTEP', 'Utah', 'Utah State',
       'Vanderbilt', 'Virginia', 'Virginia Tech', 'Wake Forest',
       'Washington', 'Washington State', 'West Virginia',
       'Western Kentucky', 'Western Michigan', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [10]:
FBSdict = {}
for team in FBSteams:
    FBSdict[team] = curSch[(curSch['away_team'] == team) | 
                           (curSch['home_team'] == team)]
#     FBSdict[team] = FBSdict[team][np.isfinite(FBSdict[team].away_points)]
    FBSdict[team] = FBSdict[team].reset_index()

In [13]:
seasonProgression(FBSdict['Rutgers'].iloc[0])

25
9

0.18

In [33]:
FBSbar = tqdm(total=len(FBSteams))
for key in FBSdict:
    FBSbar.set_description(key)
    FBSdict[key]['seasonProg'] = FBSdict[key].apply(lambda row: seasonProgression(row),axis = 1)
    FBSdict[key]['winner'] = FBSdict[key].apply(lambda row: winningTeam(row),axis = 1)
    FBSdict[key]['teamWin'] = FBSdict[key].apply(lambda row: teamWin(row,key),axis = 1)
    
    wins = 0
    losses = 0
    winList = []
    lossList = []
    for row in FBSdict[key].itertuples():
    #     print(row.winner)
        if row.teamWin:
            wins += 1
        else:
            losses += 1
        winList.append(wins)
        lossList.append(losses)
        
    FBSdict[key]['wins'] = winList
    FBSdict[key]['losses'] = lossList
    
    hometeam = FBSdict[key]['home_team'] == key
    FBSdict[key]['home'] = hometeam
    
    FBSdict[key]['winPct'] = FBSdict[key]['wins']/(FBSdict[key]['losses'] + FBSdict[key]['wins'])
    FBSdict[key]['opp'] = FBSdict[key].apply(lambda row: findOpp(row), axis = 1)
    FBSdict[key]['opp_conference'] = FBSdict[key].apply(lambda row: findOppConf(row), axis = 1)
    FBSdict[key]['point_diff'] = FBSdict[key].apply(lambda row: pointDiff(row,key), axis = 1)
    FBSdict[key]['loc_mult'] = FBSdict[key].apply(lambda row: locMult(row), axis = 1)
    FBSdict[key]['conf_mult'] = FBSdict[key].apply(lambda row: confMult(row), axis = 1)
    
    FBSbar.update(1)

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=127.0), HTML(value='')))

In [43]:
[winQ(FBSdict['Ohio State'].iloc[0],i) for i in range(8,15)]

[0.0,
 0.0,
 0.08700000000000001,
 0.06525,
 0.0522,
 0.08700000000000001,
 0.11185714285714286]

In [36]:
FBSbar2 = tqdm(total=len(FBSteams))
for key in FBSdict:
    FBSbar2.set_description(key)
    for w in range(4,curWeek+1):
        try:
            FBSdict[key]['win_q_'+str(w)] = FBSdict[key].apply(lambda row: winQ(row, w),axis=1)
        except ValueError:
            FBSdict[key]['win_q_'+str(w)] = 0.
    FBSbar2.update()

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=127.0), HTML(value='')))

In [37]:
FBSdict['Ohio State']

,index,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,...,opp_conference,point_diff,loc_mult,conf_mult,win_q_4,win_q_5,win_q_6,win_q_7,win_q_8,win_q_9
0,199,401247293,2020,8,regular,2020-10-24T16:00:00.000Z,False,False,True,None,...,Big Ten,35.0,1.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,280,401247306,2020,9,regular,2020-10-31T23:30:00.000Z,False,False,True,None,...,Big Ten,13.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,302,401247310,2020,10,regular,2020-11-07T05:00:00.000Z,True,False,True,None,...,Big Ten,NaN,1.1,1.0,0.0,0.0,0.0,0.0,NaN,NaN
3,378,401247318,2020,11,regular,2020-11-14T05:00:00.000Z,True,False,True,None,...,Big Ten,NaN,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
4,448,401247326,2020,12,regular,2020-11-21T05:00:00.000Z,True,False,True,None,...,Big Ten,NaN,1.1,1.0,0.0,0.0,0.0,0.0,NaN,NaN
5,510,401247331,2020,13,regular,2020-11-28T05:00:00.000Z,True,False,True,None,...,Big Ten,NaN,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
6,544,401247340,2020,14,regular,2020-12-05T05:00:00.000Z,True,False,True,None,...,Big Ten,NaN,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
7,605,401247348,2020,15,regular,2020-12-12T17:00:00.000Z,False,False,True,None,...,Big Ten,NaN,1.1,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [50]:
calcPct('Alabama',9)

0.14146400000000003

In [52]:
FBSbar3 = tqdm(total=len(FBSteams))
FBSpct = {}
for key in FBSdict:
    FBSbar3.set_description(key)
    pctList = []
    for w in range(4,curWeek):
        try:
            pctList.append(calcPct(key,w))
        except ValueError:
            pctList.append(0.)
    FBSpct[key] = pctList
    FBSbar3.update()

/home/mike/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=127.0), HTML(value='')))

In [55]:
FBSpct

{'Air Force': [0.0, 0.01, 0.01, 0.01, 0.019305],
 'Akron': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Alabama': [0.01,
  0.057260000000000005,
  0.09111999999999999,
  0.117985,
  0.1311296],
 'Appalachian State': [0.0169225,
  0.012385,
  0.0049724999999999995,
  0.0047625,
  0.025124821428571427],
 'Arizona': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Arizona State': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Arkansas': [-0.01,
  0.028890000000000002,
  -0.010880000000000003,
  -0.00190125,
  -0.0010102500000000003],
 'Arkansas State': [-0.009875,
  -0.020999999999999998,
  -0.008937875,
  0.007795700000000001,
  -0.006925249999999997],
 'Army': [0.0,
  0.0128755,
  0.025568300000000002,
  0.04120825,
  0.05437437755102041],
 'Auburn': [0.01, 0.0, 0.03828, 0.009922500000000004, 0.019954000000000006],
 'BYU': [0.03, 0.04, 0.05, 0.06, 0.10631571428571429],
 'Ball State': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Baylor': [-0.01, -0.03692, -0.03692, -0.04269, -0.07275999999999999],
 'Boise State': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Boston College': [0.02635625,
  0.0015174999999999998,
  0.04068650000000001,
  0.014074600000000003,
  0.03192671428571429],
 'Bowling Green': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Buffalo': [0.0, 0.0, 0.0, 0.0, 0.0],
 'California': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Central Michigan': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Charlotte': [-0.01765,
  -0.032465,
  -0.007392999999999999,
  -0.014705,
  0.003015285714285717],
 'Cincinnati': [0.02,
  0.03,
  0.054442000000000004,
  0.06375571428571429,
  0.08986357142857143],
 'Clemson': [0.024293000000000002,
  0.061481999999999995,
  0.08974525,
  0.11032520000000001,
  0.114644],
 'Coastal Carolina': [0.023564,
  0.03738,
  0.040716,
  0.06465614285714286,
  0.0794591],
 'Colorado': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Colorado State': [0.0, 0.0, 0.0, 0.0, nan],
 'Duke': [-0.03,
  -0.05462500000000001,
  -0.043314000000000005,
  -0.057664,
  -0.063986],
 'East Carolina': [-0.01, -0.02, -0.00907, -0.03162575, -0.032375],
 'Eastern Michigan': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Florida': [0.01,
  0.0461,
  0.022899999999999997,
  0.020835000000000003,
  0.014631000000000005],
 'Florida Atlantic': [nan,
  0.025390000000000003,
  0.044624000000000004,
  0.04052,
  0.017183928571428572],
 'Florida International': [-0.01,
  -0.01,
  -0.046964000000000006,
  -0.0380875,
  -0.0401405],
 'Florida State': [-0.03926,
  -0.019411000000000005,
  -0.02791325,
  0.0025622000000000023,
  -0.0203155],
 'Fresno State': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Georgia': [0.01,
  0.083945,
  0.11138,
  0.07292000000000001,
  0.07226750000000001],
 'Georgia Southern': [-0.01,
  0.0,
  0.0,
  0.008918875000000001,
  0.0010491000000000003],
 'Georgia State': [0.0,
  0.01,
  0.021699999999999997,
  -0.009472285714285713,
  0.01609],
 'Georgia Tech': [-0.026600000000000006,
  -0.023700000000000006,
  -0.002831250000000002,
  -0.013952800000000001,
  -0.027333000000000003],
 "Hawai'i": [0.0, 0.0, 0.0, 0.0, 0.01],
 'Houston': [nan, nan, 0.06032000000000001, 0.026128000000000005, 0.04462],
 'Illinois': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Indiana': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Iowa': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Iowa State': [0.0,
  0.03434,
  0.05151125000000001,
  0.05025575000000001,
  0.040735],
 'Kansas': [-0.040100000000000004,
  -0.045075000000000004,
  -0.045075000000000004,
  -0.05917,
  -0.072974],
 'Kansas State': [0.012442500000000002,
  0.027068000000000002,
  0.04334375,
  0.044025178571428576,
  0.0533073],
 'Kent State': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Kentucky': [-0.01,
  -0.06833,
  -0.026080000000000006,
  0.001732500000000003,
  -0.029432800000000002],
 'LSU': [-0.01,
  -0.022500000000000003,
  -0.05968000000000001,
  -0.04383,
  0.004491999999999997],
 'Liberty': [0.02, 0.03, 0.04, 0.06374780000000001, 0.07786635714285714],
 'Louisiana': [0.052309999999999995,
  0.06068,
  0.072435,
  0.05404125,
  0.06910548571428572],
 'Louisiana Monroe': [-0.0443475,
  -0.057375625,
  -0.0651164,
  -0.064781,
  -0.06959535714285715],
 'Louisiana Tech': [0.03,
  0.026135,
  0.04491975,
  0.028819400000000002,
  0.010846071428571429],
 'Louisville': [-0.01,
  -0.013555000000000001,
  -0.04376000000000001,
  -0.0524316,
  -0.026954285714285715],
 'Marshall': [0.02, 0.01, 0.02, 0.05460675, 0.0727755142857143],
 'Maryland': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Memphis': [0.0,
  -0.01,
  -0.0063100000000000005,
  0.016482857142857146,
  0.030427910714285716],
 'Miami': [0.04665999999999999,
  0.0628125,
  0.040493,
  0.0674814,
  0.07496071428571428],
 'Miami (OH)': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Michigan': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Michigan State': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Middle Tennessee': [-0.03,
  -0.055740250000000005,
  -0.044277,
  -0.054775142857142856,
  -0.0382725],
 'Minnesota': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Mississippi State': [0.01,
  -0.003059999999999997,
  -0.04556,
  -0.042455,
  -0.042437],
 'Missouri': [-0.01,
  -0.02,
  -0.004679999999999998,
  -0.012019999999999998,
  0.016622000000000005],
 'NC State': [0.0, 0.04405, 0.047807, 0.0570408, 0.03301542857142857],
 'Navy': [0.0, -0.01, 0.004635, 0.0237664, 0.0018550000000000016],
 'Nebraska': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Nevada': [0.0, 0.0, 0.0, 0.0, 0.01],
 'New Mexico': [0.0, 0.0, 0.0, 0.0, nan],
 'North Carolina': [0.0243,
  0.05959,
  0.08803500000000002,
  0.038127250000000015,
  0.06666920000000001],
 'North Texas': [0.01,
  -0.012276,
  -0.027631000000000003,
  -0.010545600000000004,
  -0.008893028571428572],
 'Northern Illinois': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Northwestern': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Notre Dame': [0.04944, 0.04458, 0.06547, 0.081806, 0.1069062857142857],
 'Ohio': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Ohio State': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Oklahoma': [-0.020875500000000005,
  -0.029727000000000003,
  0.007101000000000004,
  0.007101000000000004,
  0.024189400000000003],
 'Oklahoma State': [0.05593250000000001,
  0.06194000000000001,
  0.06194000000000001,
  0.07325500000000001,
  0.09901850000000001],
 'Ole Miss': [-0.01,
  0.0,
  -0.0072800000000000035,
  -0.032780000000000004,
  -0.055754399999999996],
 'Oregon': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Oregon State': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Penn State': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Pittsburgh': [0.0532075,
  0.027595625,
  0.0086545,
  -0.009056249999999997,
  -0.01669107142857143],
 'Purdue': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Rice': [0.0, nan, nan, nan, -0.07017142857142857],
 'Rutgers': [0.0, 0.0, 0.0, 0.0, 0.01],
 'SMU': [0.04, 0.05, 0.063309875, 0.0794223, 0.06630182142857144],
 'San Diego State': [0.0, 0.0, 0.0, 0.0, 0.01],
 'San José State': [0.0, 0.0, 0.0, 0.0, 0.05900500000000001],
 'South Alabama': [-0.017110000000000004,
  -0.024470000000000002,
  -0.025823,
  -0.010531,
  -0.009146285714285714],
 'South Carolina': [-0.01,
  -0.02,
  -0.030920000000000003,
  0.008257500000000004,
  -0.011234799999999996],
 'South Florida': [0.01, 0.0, -0.018123625000000004, -0.0344999, -0.04841725],
 'Southern Mississippi': [-0.03,
  -0.020918750000000003,
  -0.03318825,
  -0.023108000000000004,
  -0.03354],
 'Stanford': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Syracuse': [-0.00405,
  -0.007139999999999999,
  -0.03884375000000001,
  -0.050664,
  -0.05880285714285715],
 'TCU': [-0.06815,
  0.010669999999999994,
  -0.020480000000000005,
  -0.020480000000000005,
  -0.044337],
 'Temple': [0.0, 0.0, -0.040870000000000004, 0.0010919999999999988, -0.022114],
 'Tennessee': [0.01, 0.02, 0.03636, -0.0003262499999999984, -0.0102142],
 'Texas': [0.060882500000000006,
  0.005985000000000001,
  -0.024405750000000007,
  -0.025526250000000007,
  -0.00036028571428571403],
 'Texas A&M': [0.01, 0.0, 0.04164, 0.05452625000000001, 0.05452625000000001],
 'Texas State': [-0.02,
  -0.029080625000000002,
  -0.0391962,
  -0.05638750000000001,
  -0.06310510204081633],
 'Texas Tech': [0.002268,
  -0.029588000000000003,
  -0.0431435,
  -0.0431435,
  -0.006119199999999996],
 'Toledo': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Troy': [0.0, 0.01, 0.028652000000000004, 0.0384315, 0.020496800000000003],
 'Tulane': [0.01,
  0.01,
  -0.0031106250000000005,
  -0.0107296,
  -0.027367000000000002],
 'Tulsa': [0.0, 0.02944, 0.02944, 0.01458, 0.03161542857142857],
 'UAB': [0.01, 0.03647, 0.04127925, 0.0538096, 0.04254142857142858],
 'UCF': [0.02, 0.01, 0.025390000000000003, -0.003119625, 0.0156607],
 'UCLA': [0.0, 0.0, 0.0, 0.0, 0.0],
 'UMass': [0.0, 0.0, 0.0, -0.026992000000000002, -0.031239999999999997],
 'UNLV': [0.0, 0.0, 0.0, 0.0, -0.01],
 'USC': [0.0, 0.0, 0.0, 0.0, 0.0],
 'UT San Antonio': [0.03,
  0.020307125000000002,
  0.012480400000000003,
  -0.0014514999999999997,
  0.016373102040816327],
 'UTEP': [0.02,
  0.020369,
  0.007084000000000001,
  -0.0045288,
  -0.019941571428571427],
 'Utah': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Utah State': [0.0, 0.0, 0.0, 0.0, -0.01],
 'Vanderbilt': [-0.01,
  -0.061895000000000006,
  -0.07902,
  -0.056764999999999996,
  -0.05722100000000001],
 'Virginia': [0.01, 0.0, -0.012085, -0.038987, -0.051054],
 'Virginia Tech': [0.06895,
  0.059300000000000005,
  0.037834,
  0.066557,
  0.033142],
 'Wake Forest': [-0.04746,
  -0.023386,
  -0.021446,
  0.0012185000000000026,
  0.028028400000000005],
 'Washington': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Washington State': [0.0, 0.0, 0.0, 0.0, 0.0],
 'West Virginia': [0.003159,
  0.022546000000000004,
  0.022546000000000004,
  0.0278435,
  -0.002639599999999997],
 'Western Kentucky': [-0.03548,
  -0.02032,
  -0.02931275,
  -0.039591600000000005,
  -0.024368178571428572],
 'Western Michigan': [0.0, 0.0, 0.0, 0.0, 0.0],
 'Wisconsin': [0.0, 0.0, 0.0, 0.0, 0.01],
 'Wyoming': [0.0, 0.0, 0.0, 0.0, -0.01]}

In [57]:
PCTdf = pd.DataFrame.from_dict(FBSpct,orient='index',columns=range(4,curWeek))

In [59]:
PCTdf.to_csv('2020/PCT.csv')

In [63]:
PCTnormdf = pd.DataFrame(index = FBSteams,columns=range(4,curWeek))

for w in range(4,curWeek):
    x = PCTdf[w].values.reshape(-1,1)
    min_max_scaler = preprocessing.MinMaxScaler()
    xScaled = min_max_scaler.fit_transform(x)
    PCTnormdf[w] = xScaled.reshape(127)

PCTnormdf.to_csv('2020/PCT_norm.csv')

In [71]:
PCTnormdf.sort_values(8,ascending=False).loc['Oregon']

4    0.497082
5    0.448728
6    0.415021
7    0.354448
8    0.357534
Name: Oregon, dtype: float64

In [79]:
PCTdf.rank(method='first',ascending=False)

                    4      5      6      7      8
Alabama          23.0    8.0    2.0    1.0    1.0
Clemson          14.0    4.0    3.0    2.0    2.0
Notre Dame        6.0   11.0    6.0    3.0    3.0
BYU               9.0   13.0   12.0   12.0    4.0
Oklahoma State    3.0    3.0    8.0    5.0    5.0
...               ...    ...    ...    ...    ...
Rice             78.0    NaN    NaN    NaN  123.0
Baylor          101.0  119.0  113.0  116.0  124.0
Kansas          122.0  120.0  121.0  125.0  125.0
Colorado State   49.0   51.0   51.0   53.0    NaN
New Mexico       69.0   67.0   67.0   68.0    NaN

[127 rows x 5 columns]

In [80]:
Ranks = PCTdf.rank(method='first',ascending=False).fillna(999).astype('int64')
Ranks.to_csv('2020/Ranks.csv')

In [81]:
for w in range(4,curWeek):
    Wdf = pd.concat([PCTnormdf[w],Ranks[w]],axis=1)
    Wdf.columns = ['PCT','Rank']
    Wdf = Wdf.sort_values('Rank')
    Wdf.to_csv('2020/W%s.csv'%w)

In [83]:
Ranks.sort_values(8).head(30)

                     4    5    6   7   8
Alabama             23    8    2   1   1
Clemson             14    4    3   2   2
Notre Dame           6   11    6   3   3
BYU                  9   13   12  12   4
Oklahoma State       3    3    8   5   5
Cincinnati          16   17   10  10   6
Coastal Carolina    15   14   19   9   7
Liberty             17   18   22  11   8
Miami                7    2   21   7   9
Marshall            18   34   33  14  10
Georgia             26    1    1   6  11
Louisiana            5    5    5  16  12
North Carolina      13    6    4  23  13
SMU                  8    9    7   4  14
San José State      81   79   78  79  15
Texas A&M           31   83   17  15  16
Army                41   29   28  20  17
Kansas State        22   22   16  19  18
Houston            999  999    9  26  19
UAB                 33   15   18  17  20
Iowa State          57   16   11  18  21
Virginia Tech        1    7   24   8  22
NC State            65   12   13  13  23
Boston College      12   39   20  31  24
Tulsa               86   19   26  30  25
Memphis             60  100   95  29  26
Wake Forest        124  112  104  41  27
Appalachian State   21   30   39  38  28
Oklahoma           115  117   37  37  29
Troy                85   35   27  22  30